@import "tailwindcss";
/* @import "@fontsource/inter/variable.css"; */

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --color-primary: #101828;
    --color-secondary: #f3f4f6;
    --color-button: #615fff;
    --color-grey: #99a1af;
    --color-button-hover: #4e4bff;

    --font-sans: "inter", "sans-serif";
}

.select option {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}
